<!DOCTYPE html>
<html>
<head>
    <title>AI Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aiCamera.css') }}">
</head>
<body>
    <div class='nav'>
        <h1>AI Camera</h1>
        <div class='dashAcc'>
            <a class='dashboardButton' href="{{ url_for('liveCamera') }}">Live Camera</a>
            <a class='dashboardButton' href="{{ url_for('dashboard') }}">Dashboard</a>
            <a class='dashboardButton' href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    
    <div class='anotherPage'>
        <a class='dashboardButton' href='{{url_for('takePhoto')}}'>Add New Face</a>
        <a class='dashboardButton' href='{{url_for('facialRecognition')}}'>Start Tracking</a>
    </div>
    
    <h2 class="page-title">History</h2>

<div class="photo-history">
    {% for photo in photos %}
        <div class="photo-item">
            <img src="{{ url_for('unknown_photos', filename=photo['path']) }}" alt="Captured Image">
            <div class="photo-info">
                <p><strong>Name:</strong> {{ photo['person'] }} | <strong>Date:</strong> {{ photo['date'] }} | <strong>Time:</strong> {{ photo['time'] }}</p>
                
                {% if photo['is_unknown'] %}
                    <form method="POST" action="{{ url_for('assign_unknown') }}">
                        <input class="textBox" type="hidden" name="photo_path" value="{{ photo['path'] }}">
                        <input class="textBox" type="text" name="new_name" placeholder="Enter name">
                        <button type="submit" class="dashboardButton">Assign</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>


</body>
</html>

