<!DOCTYPE html>
<html>
<head>
    <title>AI Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboardStyles.css') }}">
</head>
<body>
    <div class='nav'>
        <h1>AI Camera</h1>
        <div class='dashAcc'>
            <a class='dashboardButton' href="{{ url_for('liveCamera') }}">Live Camera</a>
            <a class='dashboardButton' href="{{ url_for('dashboard') }}">Dashboard</a>
            <a class='dashboardButton' href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    <div class='anotherPage'>
        <a class='dashboardButton' href='{{url_for('takePhoto')}}'>Add New Face</a>
        <a class='dashboardButton' href='{{url_for('facialRecognition')}}'>Facial Recognition</a>
        <a class='dashboardButton' href='{{url_for('unknownFaceCaptured')}}'>Unknown Face Captured</a>
    </div>
</body>
</html>
