<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboardStyles.css') }}">
</head>
<body>
    <div class='nav'>
    ok
        <h1>ok Welcome, {{ username }}!</h1>
        <div class='dashAcc'>
            <a class='dashboardButton' href="{{ url_for('home') }}">Logout</a>
        </div>
    </div>
    ok
    <div class="video-container">
    ok
        <img id="videoStream" 
                 class="video-stream" 
                 src="{{ url_for('video_feed') }}" 
                 alt="Live Video Stream"
                 onerror="handleVideoError()">
    </div>
</body>
</html>

